In [5]:
import pandas as pd 
import numpy as np 
from pandas_datareader import data as wb
import yfinance as yfin

## Yfinance installed because data error type by only using pandas data_reader

*Please refer to yahoo finance for all the ticker because it might've been different from your usual ticker*.

The data in here are the only trading day data only, weekend and public holiday have been excluded

In [6]:
yfin.pdr_override()

In [7]:
pg = wb.get_data_yahoo('ITMG.jk', start = '2023-1-1')

[*********************100%***********************]  1 of 1 completed

In [8]:
pg.tail(10)

               Open     High      Low    Close     Adj Close    Volume
Date
2023-03-31  39425.0  40250.0  39350.0  39400.0  33215.527344   8890800
2023-04-03  39725.0  40025.0  39700.0  39900.0  33637.042969   5651200
2023-04-04  40400.0  40800.0  40125.0  40525.0  34163.941406   5018800
2023-04-05  40525.0  40950.0  40200.0  40900.0  34480.078125   3738800
2023-04-06  41000.0  41500.0  40900.0  41125.0  34669.757812   5781000
2023-04-10  41200.0  41475.0  40350.0  40875.0  34459.000000  12093500
2023-04-11  38025.0  38025.0  38025.0  38025.0  38025.000000    634700
2023-04-12  35375.0  35375.0  35375.0  35375.0  35375.000000   1914000
2023-04-13  34200.0  35000.0  34125.0  34600.0  34600.000000   6879100
2023-04-14  34575.0  34575.0  33725.0  33825.0  33825.000000   4530200

## Comparing Several Stock Closing Price

In [9]:
tickers = ['BRIS.jk', 'BFIN.jk', 'BJBR.jk', 'INDY.jk'] #select some of the ticker you would like to compare
comparison_data = pd.DataFrame()
for ticker in tickers : 
    comparison_data[ticker] = wb.get_data_yahoo(ticker, start = '2023-01-01')['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
comparison_data

            BRIS.jk  BFIN.jk  BJBR.jk  INDY.jk
Date
2023-01-02   1285.0   1075.0   1350.0   2720.0
2023-01-03   1395.0   1060.0   1355.0   2760.0
2023-01-04   1385.0   1055.0   1350.0   2630.0
2023-01-05   1335.0   1020.0   1340.0   2460.0
2023-01-06   1390.0   1070.0   1345.0   2440.0
...             ...      ...      ...      ...
2023-04-10   1805.0   1365.0   1380.0   2470.0
2023-04-11   1780.0   1365.0   1370.0   2510.0
2023-04-12   1775.0   1355.0   1370.0   2540.0
2023-04-13   1720.0   1345.0   1380.0   2700.0
2023-04-14   1785.0   1330.0   1285.0   2680.0

[71 rows x 4 columns]

## Importing From Other Financial Web Resources

In [15]:
AAPL = wb.DataReader('AAPL', start = '2023-04-01')
AAPL

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,164.270004,166.289993,164.220001,166.169998,166.169998,56976200
2023-04-04,166.600006,166.839996,165.110001,165.630005,165.630005,46278300
2023-04-05,164.740005,165.050003,161.800003,163.759995,163.759995,51511700
2023-04-06,162.429993,164.960007,162.000000,164.660004,164.660004,45390100
2023-04-10,161.419998,162.029999,160.080002,162.029999,162.029999,47716900
2023-04-11,162.350006,162.360001,160.509995,160.800003,160.800003,47644200
2023-04-12,161.220001,162.059998,159.779999,160.100006,160.100006,50133100
2023-04-13,161.630005,165.800003,161.419998,165.559998,165.559998,68367400

In [13]:
help(wb.DataReader)

Help on function download in module yfinance.multi:

download(tickers, start=None, end=None, actions=False, threads=True, ignore_tz=None, group_by='column', auto_adjust=False, back_adjust=False, repair=False, keepna=False, progress=True, period='max', show_errors=True, interval='1d', prepost=False, proxy=None, rounding=False, timeout=10)
    Download yahoo tickers
    :Parameters:
        tickers : str, list
            List of tickers to download
        period : str
            Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
            Either Use period parameter or use start and end
        interval : str
            Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
            Intraday data cannot extend last 60 days
        start: str
            Download start date string (YYYY-MM-DD) or _datetime, inclusive.
            Default is 1900-01-01
            E.g. for start="2020-01-01", the first data point will be on "2020-01-01"
        end: str
            Download end date string (YYYY-MM-DD) or _datetime, exclusive.
            Default is now
            E.g. for end="2023-01-01", the last data point will be on "2022-12-31"
        group_by : str
            Group by 'ticker' or 'column' (default)
        prepost : bool
            Include Pre and Post market data in results?
            Default is False
        auto_adjust: bool
            Adjust all OHLC automatically? Default is False
        repair: bool
            Detect currency unit 100x mixups and attempt repair
            Default is False
        keepna: bool
            Keep NaN rows returned by Yahoo?
            Default is False
        actions: bool
            Download dividend + stock splits data. Default is False
        threads: bool / int
            How many threads to use for mass downloading. Default is True
        ignore_tz: bool
            When combining from different timezones, ignore that part of datetime.
            Default depends on interval. Intraday = False. Day+ = True.
        proxy: str
            Optional. Proxy server URL scheme. Default is None
        rounding: bool
            Optional. Round values to 2 decimal places?
        show_errors: bool
            Optional. Doesn't print errors if False
        timeout: None or float
            If not None stops waiting for a response after given number of
            seconds. (Can also be a fraction of a second e.g. 0.01)